body {
    font-family: 'Recursive', sans-serif;
}

div {
    transition: background-color 200ms;
}

.grid {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    background-color:magenta;
}

.clicked-bomb {
    background-color: red!important;
}

.clicked-empty {
    background-color: black!important;
    text-align:center;
}

.flagged {
    background-color: orange!important;
}

.grid div {
    background-color: darkgray;
    margin-right: auto;
    margin-left: auto;
}

.grid div:hover {
    background-color: gray;
}