div {
    transition: background-color 200ms;
}

.grid {
    font-family: 'Recursive', sans-serif!important;
    font-weight: 600!important;

    margin-top:10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.clicked-mine {
    /*background-color: #222!important;*/
    background-color: black!important;
    font-size: 2em;
}

.clicked-empty {
    background-color: black!important;
}

.flagged {
    /*background-color: #222!important;*/
    background-color: black!important;
    font-size: 1.5em;
    transition: font-size 100ms;
}

.flagged:hover {
    font-size: 1.8em;
}

.grid div {
    background-color: darkgray;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}

.grid div:hover {
    background-color: gray;
}

h1 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 2em;
}

/* https://www.arungudelli.com/tutorial/css/disable-text-selection-in-html-using-user-select-css-property/ */
.disable-select {
    user-select: none;        /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none;  /* Konqueror HTML */
   -moz-user-select: none;    /* Firefox */
   -ms-user-select: none;     /* Internet Explorer/Edge */
}

.controls {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

    font-size: 1.2em;
}

button {
    font-size: inherit;
}

.settings {
    padding:20px;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;

    border: 4px solid;
    border-color: gray;
    border-radius: 25px;
}